<nav class=" navbar-expand-lg navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="/assets/logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
      Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addPatient">Add Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="conditions">Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="showStations">Stations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
