<div class="row">
    <form class="col-7" (ngSubmit)="createPatient()">
        <h1>New Patient</h1>
        <div class="row g-3 m-1">
            <div class="col-2">
                <label for="firstname" class="col-form-label">Firstname: </label>
            </div>
            <div class="col-5">
                <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="patient.firstName">
            </div>
            
        </div>
        <div [hidden]="patient.firstName.length>= 2 || patient.firstName == ''" class="text-danger col-7 m-2">
            Firstname has to be at least 2 characters
        </div>
        

        <div class="row g-3 m-1">
            <div class="col-2">
                <label for="lastname" class="col-form-label">Lastname: </label>
            </div>
            <div class="col-5">
                <input type="text" id="lastname" class="form-control" name="lastname" [(ngModel)]="patient.lastName">
            </div>
        </div>
        <div [hidden]="patient.lastName.length>= 2 || patient.lastName == ''" class="text-danger col-7 m-2">
            Lastname has to be at least 2 characters
        </div>


        <div class="row g-3 m-1">
            <div class="col-2">
                <label for="ssn" class="col-form-label">SSN: </label>
            </div>
            <div class="col-5">
                <input type="text" id="ssn" class="form-control" name="ssn" [(ngModel)]="patient.ssn">
            </div>
        </div>
        <div [hidden]="patient.ssn.length == 10 || patient.ssn == ''" class="text-danger col-7 m-2">
            SSN musst be 10 digits long
        </div>


        <div class="row g-3 m-1">
            <div class="col-2">
                <label for="height" class="col-form-label">Height (cm): </label>
            </div>
            <div class="col-2">
                <input type="number" id="height" class="form-control" name="height" [(ngModel)]="patient.height">
            </div>
            

            <div class="col-2">
                <label for="weight" class="col-form-label">Weight (kg): </label>
            </div>
            <div class="col-2">
                <input type="number" id="weight" class="form-control" name="weight" [(ngModel)]="patient.weight">
            </div>

            <div [hidden]="patient.height > 0" class="text-danger col-5">
                Height > 0
            </div>
            <div [hidden]="patient.weight > 0" class="text-danger col-5">
                Weight >  0
            </div>
        </div>

        <div class="row g-3 m-1">
            <div class="col-2">
                <label for="bithdate" class="col-form-label">Birthdate: </label>
            </div>
            <div class="col-5">
                <input type="date" id="bithdate" class="form-control" name="dob" [(ngModel)]="selectedDate">
            </div>
        </div>
        <div [hidden]="selectedDate < currDate" class="text-danger col-7 m-2">
            Date musst be in the past 
        </div>


        <!--<div class="row g-3 m-1">
            <div class="col-2">
                <label for="station" class="col-form-label">Station: </label>
            </div>
            <div class="col-4">
                <select class="form-select" id="station" name="station" [(ngModel)]="patient.stationId">
                    <option *ngFor="let station of stations" [ngValue]="station.id">{{station.name}}</option>
                </select>
            </div>
        </div>-->

        <button type="submit" [disabled]="patient.firstName.length < 2 || patient.lastName.length < 2 || patient.ssn.length != 10 || patient.height <= 0 || patient.weight <= 0" class="btn btn-primary m-1">Create Patient</button>
        <div class="text-danger">{{errorMessageCreate}}</div>
    </form>

    <form class="col">
        <h3>Check SSN</h3>
        <div class="row g-3">
            <div class="col-auto">
                <input type="text" id="checkSSN" class="form-control" name="checkSsn" [(ngModel)]="patient.ssn">
            </div>
        </div>
        <button type="submit" class="btn btn-dark m-1" (click)="checkSsn()">Check</button>
        <div class="text-danger">{{errorMessage}}</div>
        <div class="text-success">{{message}}</div>
    </form>
</div>

