<div class="row">
    <form class="col-7">
    <h1>Patient with name {{patient.firstName}} {{patient.lastName}}</h1>

    <div class="row">
        <div class="col-2">
            <label for="lastname" class="col-form-label">Symptom: </label>
        </div>
        <div class="col-4">
            <input type="text" id="symptom" class="form-control" name="symptom" [(ngModel)]="symptom">
        </div>
        <div class="col-2">
            <button class="btn btn-outline-dark" (click)="addSymptom()">Add</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Symptom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                   
                    <tr *ngFor="let symptom of symptoms">
                        <td>{{symptom}}</td>
                        <td><button class="btn btn-outline-dark" (click)="deleteSymptom(symptom)">Delete</button></td>
                    </tr>
            </tbody>
        </table>
    </div>
    </form>
    <form class="col">
        <button class="btn btn-outline-dark" (click)="getDiagnosis()">Get conditions for symptoms</button>

        <table *ngIf="showTable" class="table">
            <thead>
                <tr>
                    <th>Diagnose</th>
                    <th>Number of symptoms</th>
                </tr>
            </thead>
            <tbody>
                
                   
                    <tr *ngFor="let condition of conditionsBySymptoms">
                        <td>{{condition.name}}</td>
                        <td>{{condition.symptomsCount}}</td>
                        <td>   
                            <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="condition.id"
                            (change)="onSelectionChange(condition)">
                        </td>
                    </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-dark" (click)="diagnosePatient()">Diagnose Patient</button>
        <div class="row g-3 m-1">
            <div class="col-2">
                <label for="station" class="col-form-label">Station: </label>
            </div>
            <div class="col-4">
                <select class="form-select" id="medicalStaff" name="medicaStaff" [(ngModel)]="selectedStaff.id">
                    <option *ngFor="let ms of medicalStaff" [ngValue]="ms.id">{{ms.firstName}} {{ms.lastName}}</option>
                </select>
            </div>
            <div class="col-5">
                <input type="number" id="toDate" class="form-control" name="toDate" [(ngModel)]="toDateTime">
            </div>

        </div>
    </form>

</div>