<div>
    <h1>Patient with SSN {{patient.ssn}}</h1>
    <hr>
    <h5>Firstname: {{patient.firstName}}</h5>
    <h5>Lastname: {{patient.lastName}}</h5>
    <h5>Birthdate: {{patient.dob | date:'longDate'}}</h5>

    <br>
    <h5>Height: {{patient.height}} cm</h5>
    <h5>Weight: {{patient.weight}} kg</h5>


    <hr>
    <div *ngIf="patient.stationId != '000000000000000000000000'">
        <h5 >Stationid: {{patient.stationId}}</h5>
        <h5 >Station Name: {{station.name}}</h5>
        <h5 >Number of available Beds: {{station.totalNumberOfBeds-numberOfBeds}} / {{station.totalNumberOfBeds}}</h5>
        <img src="assets/svg/{{station.name}}.svg" class="rounded mx-auto d-block">
    </div>
    <h5 *ngIf="patient.stationId == '000000000000000000000000'">Patient is currently not on a station</h5>

    <hr>
    <h3>Medical History: {{diagnosises.length}}</h3>
    <div *ngIf="diagnosises.length == 0">No History yet</div>

    <table class="table" *ngIf="diagnosises.length != 0">
        <thead>
            <tr>
                <th>Diagnosed On</th>
                <th>Stayed Days</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diagnosis of diagnosises">
                <td>{{diagnosis.diagnosedOn | date:'longDate'}}</td>
                <td>{{diagnosis.daysInHospital}}</td>
            </tr>
        </tbody>
    </table>
    
    
    <hr>

    <ng-container *ngIf="admitClicked">
        <div>
            <label class="col-form-label m-1">Station: </label>
            <select class="form-select col-3 m-1" id="station" name="station" [(ngModel)]="selectedStation">
                <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
            </select>
        </div>
    </ng-container>

    <button (click)="admitClclicked()" *ngIf="!patient.currentlyInHospital" class="btn btn-outline-dark m-2">Admit</button>
    <button (click)="releaseClclicked()" *ngIf="patient.currentlyInHospital" class="btn btn-outline-dark m-2">Release</button>
    <button (click)="diagnoseClclicked(patient.id)" [disabled]="patient.diagnosed == true || patient.currentlyInHospital==false" class="btn btn-outline-dark m-2">Diagnose</button>
</div>